# Токен от @BotFather
BOT_TOKEN=8603162504:AAFbSu0I-u7xW7EhrLyq7LwIzFd3t0f03uU

# Юзернейм бота без @ (нужен для deep link)
BOT_USERNAME=umar_quiz1242bot

# PostgreSQL — совпадает с docker-compose.yml
DB_HOST=db
DB_PORT=5432
DB_NAME=quiz_bot
DB_USER=postgres
DB_PASS=postgres

# Redis — совпадает с docker-compose.yml
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Дефолтный таймер вопроса (секунды)
DEFAULT_TIMER_SEC=30
